html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  text-align: center;
}

a {
  padding: .4em .75em .3em;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
}

.btn {
  font-size: 1.125rem;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
font-size: 1.5rem;
}
